node_modules
.DS_Store

# build files
es/
dist/
dist-electron/
dist_electron/
release/
typings/

_site
package
tmp*
temp*
coverage
test-report.html
.idea/
yarn-error.log
*.zip
.history
.stylelintcache
yarn.lock
package-lock.json
pnpm-lock.yaml
.env.local
.env.*.local