# OS specific files
.DS_Store

# dependencies manager
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build files
es/
lib/
dist/
out/
typings/

_site
package
tmp*
temp*
coverage
test-report.html
.idea/
yarn-error.log
*.zip
.history
.stylelintcache

.env.local
.env.*.local

# dev files
thumbnail/
*.pyc

# lock文件
yarn.lock
package-lock.json
pnpm-lock.yaml
