# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies
node_modules
venv
.venv

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-cache

# Python
uv.lock

# Build Outputs
dist
dev-dist
dist-ssr
packages/*/build
.next/
out/

# Turbo
.turbo

# Vercel
.vercel

# Editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE
.vscode/*
.idea/*
.aider*
.claude/*
.claude-code-router/*
.codebuddy/*
.cursor/*
.gemini/*
.qwen/*
.trae/*
.zed/*

# Env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# OS
.DS_Store

# Misc
*.pem

# Tests
coverage
.vitest-cache
vitest.config.*.timestamp-*
.nyc_output

# TypeScript incremental build
.tsbuildinfo
**/auto-imports.d.ts
**/components.d.ts

# Temp
.temp
.tmp

# Runtime
pids
*.pid
*.seed
*.pid.lock
thumbnail/
*.pyc
__pycache__/

# Husky
.husky/*
!.husky/_/*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dump
*.dmp
dmp.txt
