:root[theme-color='green'],
:root[theme-color='green'][theme-mode='dark'] {
  --td-brand-color: #70cb7d;
  --td-brand-color-1: #dff7ed;
  --td-brand-color-2: #a9e8cd;
  --td-brand-color-3: #69d5ab;
  --td-brand-color-4: #30bf8b;
  --td-brand-color-5: #00a870;
  --td-brand-color-6: #00935d;
  --td-brand-color-7: #007e4a;
  --td-brand-color-8: #006937;
  --td-brand-color-9: #005426;
  --td-brand-color-10: #004114;
}