/* 控制条 */
.css-f4aimg {
  padding: 5px 0 !important;
}

/* 设置面板 */
.css-1y41a61 {
  border-radius: 8px !important;
  background: #1f1f1fe6 !important;
  margin-bottom: 20px;
}

/* 提示 */
.css-181s0gc::after {
  border-radius: 8px !important;
  bottom: calc(100% + 22px) !important;
  background: #1f1f1fe6 !important;
}

/* 音量面板 */
.css-fy6n4p {
  padding-bottom: 20px;
  background-color: transparent !important;
  border-radius: 8px !important;
}

.css-fy6n4p .css-1y9tj12,
.css-fy6n4p .css-fy6n4p {
  background: #1f1f1fe6 !important;
  border-radius: 8px !important;
}

.css-1fdetu4 {
  position: relative;
}

/* 画质面板 */
.css-fy6n4p::before {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% - 19px);
  bottom: 19px;
  left: 0;
  border-radius: 8px;
  background-color: #1f1f1fe6 !important;
}

.css-fy6n4p .css-1cm6xxk {
  position: relative;
}

/* 弹幕 */
.css-xpnf3v {
  display: flex;
  margin: 0 10px;
}

/* 弹幕面板 */
.css-12rog9r {
  padding: 0 0 20px !important;
  background-color: transparent !important;
  border-radius: 8px !important;
}

.css-12rog9r::before {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% - 19px);
  bottom: 19px;
  left: 0;
  border-radius: 8px;
  background-color: #1f1f1fe6 !important;
}

.css-12rog9r .css-17upkjl {
  position: relative;
}

/* button */
.css-165g1ze .css-rte19r {
  margin-right: 16px !important;
}

.css-165g1ze .css-rte19r:has(svg) {
  width: 21px !important;
  height: 21px !important;
}

.css-165g1ze .css-qyn9ru:has([aria-label='Torrent']) {
  display: none;
}

.css-76twjl > .css-rte19r:last-child {
  margin-right: 0 !important;
}

.css-165g1ze .css-rte19r:hover {
  background-color: transparent !important;
}
