
.art-danmuku-emitter .art-danmuku-send {
  background: linear-gradient(254deg, #08cc7e, #0ccc4c) !important;
}

.art-bottom .art-progress .art-control-progress .art-control-progress-inner .art-progress-played {
  background: linear-gradient(270deg, #00e038, #32ccff) !important;
}

.art-control-volume .art-volume-panel .art-volume-inner .art-volume-slider .art-volume-handle .art-volume-loaded {
  background-image: linear-gradient(90deg, #00e038, #32ccff) !important;
}

.art-bottom .art-progress .art-control-progress .art-control-progress-inner .art-progress-indicator:hover {
  background: #fff !important;
  box-shadow: 0 0 15px 0 #00d157;
}

.art-bottom .art-progress .art-control-progress .art-control-progress-inner .art-progress-indicator {
  background: #fff !important;
  box-shadow: 0 0 15px 0 #00d157;
  height: 13px !important;
  width: 13px !important;
}

.art-danmuku-emitter
  .art-danmuku-left
  .art-danmuku-style
  .art-danmuku-style-panel
  .art-danmuku-style-panel-inner
  .art-danmuku-style-panel-modes
  .art-danmuku-style-panel-mode.art-current {
  background-color: #00e038 !important;
  border: 1px solid #00e038 !important;
}

.art-danmuku-emitter {
  opacity: 0 !important;
  pointer-events: none !important;
}

.art-icon-switchOn .icon path {
  fill: #00d157 !important;
}

.art-video-player.art-setting-show .art-settings {
  border-radius: 8px !important;
}

/* 5.1 版本弹幕 css */
.artplayer-plugin-danmuku .apd-config .apd-config-panel .apd-config-panel-inner {
  background: #000000bf !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  border-radius: 8px !important;
}

.artplayer-plugin-danmuku .apd-slider .apd-slider-progress {
  background: linear-gradient(270deg, #00e038, #32ccff) !important;
}

.apd-slider .apd-slider-dot {
  background: #fff !important;
  box-shadow: 0 0 15px 0 #00d157;
}

.artplayer-plugin-danmuku .apd-toggle svg.apd-toggle-on path:nth-of-type(2) {
  fill: #00d157 !important;
}

.artplayer-plugin-danmuku .apd-slider .apd-slider-points .apd-slider-point {
  background-color: #fff !important;
}

.artplayer-plugin-danmuku .apd-config-other .apd-other:hover,
.artplayer-plugin-danmuku .apd-modes .apd-mode:hover {
  color: #00d157 !important;
}

.apd-mode svg.apd-mode-0-off path,
.apd-mode svg.apd-mode-1-off path,
.apd-mode svg.apd-mode-2-off path {
  fill: #00d157 !important;
}

.apd-config-other .apd-other svg.apd-check-on path {
  fill: #00d157 !important;
}

.artplayer-plugin-danmuku .apd-slider .apd-slider-steps .apd-slider-step {
  color: #ddd !important;
}

.art-controls .art-control {
  min-width: 30px !important;
}

[data-danmuku-emitter=false] .art-controls-center .artplayer-plugin-danmuku {
  gap: 10px !important;
}

.art-controls .art-controls-center {
  padding: 0 5px !important;
}
