.nplayer_control {
  display: block;
  position: absolute;
  visibility: visible;
  height: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 10;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

.nplayer_poster_play {
  cursor: pointer;
  position: relative !important;
  transform: none !important;
  left: 0 !important;
  top: 0 !important;
  height: 28px !important;
  width: 28px !important;
}

.nplayer_icon svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.nplayer_danmaku_send {
  height: 30px;
  border-radius: 5px;
  opacity: 0 !important;
  pointer-events: none !important;
}

.nplayer_danmaku_send .nplayer_icon {
  position: relative;
  top: 5px;
}

.nplayer_control_volume_bars {
  background: rgba(17, 18, 20, 0.8) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 20px 1px;
  border-radius: 8px;
  font-size: 14px;
  height: 130px;
  text-align: center;
  width: 39px;
  left: -5px !important;
}

.nplayer_control_volume-hor .nplayer_control_volume_bars {
  border-radius: 5px;
  height: 30px;
  top: 2px !important;
}

.nplayer_control_volume_bar {
  border-radius: 2px;
  left: 18px;
  position: relative;
  width: 3px !important;
  background-image: linear-gradient(90deg, #00e038, #32ccff) !important;
}

.nplayer_control_volume_bar::before {
  /* content: ''; */
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 15px 0 #00d157;
  opacity: 1;
  top: 0;
  left: -4px;
  position: absolute;
  width: 11px;
  height: 11px;
  z-index: 5;
}

.nplayer_control > .nplayer_control_bar:first-child {
  height: 14px;
  width: 100%;
}

.nplayer_control_bar-top {
  display: none !important;
}

.nplayer_danmaku_send_btn {
  background: linear-gradient(254deg, #08cc7e, #0ccc4c);
  border-radius: 0 5px 5px 0;
  padding: 4px 10px !important;
}

.nplayer_progress_played {
  background: linear-gradient(270deg, #00e038, #32ccff) !important;
}

.nplayer_progress_dot {
  border-radius: 50%;
  height: 13px;
  width: 13px;
  background: #fff;
  box-shadow: 0 0 15px 0 #00d157;
  opacity: 1 !important;
  left: -7px !important;
}

.nplayer_progress_dot_inner {
  background: transparent !important;
}

.nplayer_control_setting-active .nplayer_icon {
  transform: none !important;
}

.nplayer_slider_track_inner {
  background: linear-gradient(270deg, #00e038, #32ccff) !important;
}

.nplayer_slider_dot {
  background: #fff !important;
  box-shadow: 0 0 15px 0 #00d157;
}

.nplayer_switch-active {
  background: #00e038 !important;
}

.nplayer_popover-active .nplayer_popover_panel {
  border-radius: 8px;
  background-color: rgba(17, 18, 20, 0.8);
}

.nplayer_control_setting_item:hover,
.nplayer_control_setting_option:hover {
  color: #fff !important;
  background: hsla(0, 0%, 100%, 0.04) !important;
}

.nplayer_checkbox-active:before {
  background: #00e038 !important;
  border-color: #00e038 !important;
}

.nplayer_checkbox:hover {
  color: #00e038 !important;
}

.nplayer_control_time-live:before {
  background: #00d157 !important;
}

.xg-icon-setting,
.xg-icon-danmu {
  fill: #fff;
}

@media not all and (hover: none) {
  .nplayer_tooltip:hover {
    background: transparent !important;
  }
}
